/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/11/2017, 1:32:07 PM
    Author     : safwan
*/

#AnchorPane{
 -fx-background-color: #37474F;   
}

Label { 
    -fx-text-fill: #ECEFF1;
}


Button{
  
  /*color: #E6EEF0 !important;*/
  -fx-font-size: 14px;
/*  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 2px 1px 1px #BEE2F9;*/
  /*-fx-padding: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*-webkit-border-radius: 10px;*/
  /*-fx-border-radius: 10px;*/
-fx-background-radius: 5em;
  /*border: 2px solid*/ 
  -fx-text-fill: #E1F5FE;
  /*-fx-font-color: #E1F5FE;*/
  -fx-background-color: #3866A3;
  
}
/*Button:hover {
  color: #14396A !important;
  background: #98CF7C;
}*/
/*Button{
	-fx-background-color: #A1887F;
         -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;*/
/*}*/

TextField{
    	-fx-background-color: #B2DFDB;
}

/*Button:hover {
	-fx-background-color: transparent;
	-fx-text-fill: #226fbe;
}*/